@model IEnumerable<kaedc.Models.Service>

@{
    ViewData["Title"] = "AllServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-money"></i>
        </div>
        <div class="header-title">
            <h1>Services</h1>
            <small>Service List</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group" id="buttonexport">
                            <a href="">
                                <h4>Service list</h4>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <button class="btn btn-exp btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                            <ul class="dropdown-menu exp-drop" role="menu">
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (ignoreColumn)
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (with Escape)
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                                        <img src="assets/dist/img/xml.png" width="24" alt="logo"> XML
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});">
                                        <img src="assets/dist/img/sql.png" width="24" alt="logo"> SQL
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});">
                                        <img src="assets/dist/img/csv.png" width="24" alt="logo"> CSV
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});">
                                        <img src="assets/dist/img/txt.png" width="24" alt="logo"> TXT
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});">
                                        <img src="assets/dist/img/xls.png" width="24" alt="logo"> XLS
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                                        <img src="assets/dist/img/word.png" width="24" alt="logo"> Word
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});">
                                        <img src="assets/dist/img/ppt.png" width="24" alt="logo"> PowerPoint
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});">
                                        <img src="assets/dist/img/png.png" width="24" alt="logo"> PNG
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                        <img src="assets/dist/img/pdf.png" width="24" alt="logo"> PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Brinq's Commission (%)</th>
                                        <th>Agent's Commission (%)</th>
                                        <th>Minimum Sales Amount</th>
                                        <th>Maximum Sales Amount</th>
                                        <th>Convenience Fee</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@item.Description</td>
                                        <td>@String.Format("{0:0.00}", @item.BrinqFullPercentage)</td>
                                        <td>@String.Format("{0:0.00}", @item.AgentPercentage)</td>
                                        <td>@String.Format("{0:0.00}", @item.MinimumSaleAmount)</td>
                                        <td>@String.Format("{0:0.00}", @item.MaxSaleAmount)</td>
                                        <td>@String.Format("{0:0.00}", @item.ConvenienceFee)</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
