@model kaedc.Models.ProductReportModel
@{
    ViewData["Title"] = "ProductReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-money"></i>
        </div>
        <div class="header-title">
            <h1>Report</h1>
            <small>Product Report</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="btn-group" id="buttonexport">
                            <a href="">
                                <h4>Product Report</h4>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                            <button class="btn btn-exp btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Export Table Data</button>
                            <ul class="dropdown-menu exp-drop" role="menu">
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (ignoreColumn)
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                                        <img src="assets/dist/img/json.png" width="24" alt="logo"> JSON (with Escape)
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                                        <img src="assets/dist/img/xml.png" width="24" alt="logo"> XML
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});">
                                        <img src="assets/dist/img/sql.png" width="24" alt="logo"> SQL
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});">
                                        <img src="assets/dist/img/csv.png" width="24" alt="logo"> CSV
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});">
                                        <img src="assets/dist/img/txt.png" width="24" alt="logo"> TXT
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});">
                                        <img src="assets/dist/img/xls.png" width="24" alt="logo"> XLS
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                                        <img src="assets/dist/img/word.png" width="24" alt="logo"> Word
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});">
                                        <img src="assets/dist/img/ppt.png" width="24" alt="logo"> PowerPoint
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});">
                                        <img src="assets/dist/img/png.png" width="24" alt="logo"> PNG
                                    </a>
                                </li>
                                <li>
                                    <a href="#" onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                        <img src="assets/dist/img/pdf.png" width="24" alt="logo"> PDF
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- ./Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr class="info">
                                        <th>PRODUCT</th>
                                        <th>TOTAL VOLUME</th>
                                        <th>TOTAL SALES</th>
                                        <th>AGENT PROFIT</th>
                                        <th>BRINQ PROFIT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KAEDC PREPAID</td>
                                        <td>@Model.PrepaidVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.PrepaidSales)</td>
                                        <td>@String.Format("{0:0.00}", Model.AgentPrepaidProfit)</td>
                                        <td>@String.Format("{0:0.00}", Model.BrinqPrepaidProfit)</td>
                                    </tr>
                                    <tr>
                                        <td>KAEDC POSTPAID</td>
                                        <td>@Model.PostpaidVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.PostpaidSales)</td>
                                        <td>@String.Format("{0:0.00}", Model.AgentPostpaidProfit)</td>
                                        <td>@String.Format("{0:0.00}", Model.BrinqPostpaidProfit)</td>
                                    </tr>
                                    <tr>
                                        <td>KAEDC CREDITs</td>
                                        <td>@Model.CreditVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.CreditSales)</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>KAEDC REFUNDS</td>
                                        <td>@Model.RefundVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.RefundSales)</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>KAEDC DEBITs</td>
                                        <td>@Model.DebitVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.DebitSales)</td>
                                        <td>0</td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>@Model.TotalVolume</td>
                                        <td>@String.Format("{0:0.00}", Model.TotalSales)</td>
                                        <td>@String.Format("{0:0.00}", Model.AgentTotalProfit)</td>
                                        <td>@String.Format("{0:0.00}", Model.BrinqTotalProfit)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
