@model IEnumerable<kaedc.Models.Transaction>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KaedcUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datetime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meternumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApiUniqueReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatewayresponseCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GatewayresponseMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statuscode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhcnUnique)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerIp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentProfit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoordinatorProfit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrinqProfit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopUpValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KaedcUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meternumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApiUniqueReference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatewayresponseCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GatewayresponseMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Statuscode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhcnUnique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayerIp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordinatorProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrinqProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopUpValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
